.header {
    width: 1440px;
    height: 119px;
}

p,
a,
h1,
button {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
    position: absolute;
    width: 767px;
    height: 66px;
    color: white;
}

nav {
    display: flex;
    position: relative;
    width: 1440px;
    height: 67px;
    top: 26px;
}

.img-logo {
    width: 160px;
    height: 33px;
    position: relative;
    top: 17px;
    left: 50px;
    padding: 0.08px 0.27px 0.3px 0.57px;
}

.navigation-panel {
    display: flex;
    position: absolute;
    width: 403px;
    height: 67px;
    left: 987px;
    padding: 20px 0px 0px 0px;
}

a {
    text-decoration: none;
    font-size: 17px;
    line-height: 27px;
    text-align: left;
}

a:hover {
    color: #118da8;
}

.home {
    position: static;
    width: 49px;
    height: 27px;
    top: 20px;
    left: 20px;
}

.episode {
    position: absolute;
    width: 75px;
    height: 27px;
    top: 20px;
    left: 109px;
}

.about {
    position: absolute;
    width: 51px;
    height: 27px;
    top: 20px;
    left: 224px;
}

.contact {
    position: absolute;
    width: 68px;
    height: 27px;
    top: 20px;
    left: 315px;
}

.home-page {
    width: 1440px;
    height: 913px;
    top: 119px;
}

.section-one {
    position: relative;
    width: 1400px;
    height: 913px;
    left: 20px;
}

.img-1 {
    position: static;
    width: 650px;
    height: 873px;
}

.content-one {
    display: inline-block;
    position: relative;
    width: 1300px;
    height: 873.44px;
    top: 40px;
    left: 50px;
    padding: 0px 60px 0px 0px;
}

.img-2 {
    position: absolute;
    width: 68px;
    height: 74px;
    top: -26px;
    left: -26px;
}

.next-level-text {
    justify-content: space-between;
    position: absolute;
    width: 530px;
    height: 610.58px;
    top: 131.42px;
    left: 710px;
}

.next {
    top: 338.58px;
    position: relative;
    width: 160px;
    height: 88px;
    font-size: 75px;
    line-height: 88px;
    letter-spacing: 3.200000047683716px;
    text-align: left;
}

.take-your-podcast {
    position: absolute;
    width: 526px;
    height: 176px;
    top: 162.58px;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.200000047683716px;
    text-align: left;
}

.level {
    position: absolute;
    width: 191px;
    height: 88px;
    top: 338.58px;
    left: 185px;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 3.200000047683716px;
    text-align: left;
}

.next img {
    width: 163px;
    height: 11px;
    top: -60px;
    left: -5px;
}

.conteiner-for-social-networking {
    display: flex;
    position: absolute;
    width: 289px;
    height: 72px;
    top: 516.58px;
}

.conteiner-for-social-networking p {
    position: absolute;
    font-size: 15px;
    left: 22px;
    line-height: 24px;
    text-align: left;
}

.conteiner-for-social-networking div {
    width: 32px;
    height: 32px;
    padding: 0.05px;
}

.conteiner-social-logo {
    width: 245px;
    height: 32px;
    top: 40px;
    left: 22px;
    padding: 0px 17px 0px 0px;
}
/* :not(:first-child) */
.conteiner-social-logo div:not(:first-child) {
    margin-left: 17px;
}

.conteiner-social-logo div img {
    width: 31.9px;
    height: 31.9px;
    top: 0.05px;
    left: 0.05px;
}

.conteiner-about-us {
    width: 1440px;
    height: 2088px;
    top: 1032px;
}

.conteiner-about-us section {
    position: absolute;
    width: 1400px;
    height: 2088px;
    left: 20px;
}

.all-episodes-text {
    position: absolute;
    width: 1300px;
    height: 99px;
    top: 100.44px;
    left: 50px;
}

.all-episodes-preview {
    position: absolute;
    width: 1300px;
    height: 1689px;
    top: 239.44px;
    left: 50px;
}

.all-episodes-text p {
    position: absolute;
    width: 513px;
    height: 80px;
    top: -7.44px;
    font-size: 64px;
    line-height: 79.2px;
    letter-spacing: 2.880000114440918px;
    text-align: left;
}

.all-episodes-text button {
    /* border: none; */
    position: absolute;
    width: 178px;
    height: 51px;
    top: 23.56px;
    left: 1122px;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
    color: white;
    background-color: #118da8;
    border-radius: 6px;
}

.episode-one,
.episode-second,
.episode-third {
    position: absolute;
    width: 1300px;
    height: 545px;
    border-radius: 32px 0px 0px 0px;
    background: #000000;
    border-radius: 32px;
}

.episode-one {
    top: -0.44px;
}

.episode-second {
    top: 604.56px;
}

.episode-third {
    top: 1176.56px;
}

.all-episodes-preview section {
    display: flex;
    width: 1220px;
    height: 432px;
    top: 40.44px;
    left: 40px;
}

.all-episodes-preview img {
    position: absolute;
    width: 389px;
    height: 432px;
    left: 0;
    top: -0.44px;
}

section .episode-text {
    position: relative;
    width: 778px;
    height: 432px;
    left: 53px;
}

.header-text {
    position: absolute;
    width: 611px;
    height: 141px;
    top: 127.56px;
    font-size: 57px;
    line-height: 70.4px;
    letter-spacing: 2.559999942779541px;
    text-align: left;
}

.episode-tag {
    position: absolute;
    width: auto;
    height: 27px;
    top: 7.56px;
    border-radius: 6px;
    background-color: #191919;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}

.main-text {
    position: absolute;
    width: 767px;
    height: 66px;
    top: 296.56px;
    color: rgba(255, 255, 255, 0.7);
}

#episode-text {
    position: absolute;
    width: 66px;
    height: 27px;
    top: -0.44px;
    color: rgba(17, 141, 168, 1);
    font-size: 17px;
    line-height: 27px;
    text-align: left;
}

#container-episode-number-text {
    position: relative;
    display: flex;
    width: 82px;
    height: 27px;
    top: 83px;
}

#episode-number {
    position: absolute;
    color: rgba(17, 141, 168, 1);
    width: 11px;
    height: 27px;
    top: -0.44px;
    left: 71px;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}

.view-episode-details {
    position: absolute;
    width: 208px;
    height: 51px;
    bottom: 0;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(17, 141, 168, 1);
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border-radius: 6px;
}

.container-img-episode {
    position: relative;
    width: 389px;
    height: auto;
    top: -0.44px;
    gap: 0px;
    opacity: 0px;
}

.container-subscribe {
    position: absolute;
    width: 1440px;
    height: 1530.44px;
    top: 3120.44px;
}

.container-about-user {
    width: 1440px;
    height: 943px;
    top: -0.44px;
}

.container-about-user div {
    position: absolute;
    width: 1400px;
    height: 943px;
    left: 20px;
}

.container_form_subscribe {
    width: 1440px;
    height: 587px;
    top: 943.56px;
}

.about-user {
    position: absolute;
    width: 1300px;
    height: 743.44px;
    top: 100.44px;
    left: 50px;
}

.user-photo {
    position: absolute;
    width: 650px;
    height: 743px;
    border-radius: 12px 0px 0px 0px;
    left: 650px;
}

.container-user-info {
    position: absolute;
    width: 590px;
    height: 448px;
    top: 147.72px;
}

.container-user-info h1 {
    position: absolute;
    width: 496px;
    height: 80px;
    top: 156.84px;
    font-size: 65px;
    line-height: 79.2px;
    letter-spacing: 2.880000114440918px;
    text-align: left;
}

.arrow-img {
    top: 51px;
    left: 13px;
}

.meet-host-button {
    width: 112px;
    height: 112px;
    top: -0.16px;
    gap: 0px;
    opacity: 0px;
    background-color: rgba(17, 141, 168, 1);
    border-radius: 400px;
    border: none;
}

:active .meet-host-button {
    background-color: rgb(18, 118, 141);
}

.main-text-one {
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    width: 556px;
    height: 66px;
    top: 264.84px;
    color: rgba(255, 255, 255, 0.7);
}

.main-text-second {
    font-size: 22px;
    line-height: 33px;
    text-align: left;
    width: 528px;
    height: 66px;
    top: 363.84px;
    color: rgba(255, 255, 255, 0.7);
}

.text-host {
    position: absolute;
    width: 126px;
    height: 27px;
    top: 131.84px;
    color: rgba(17, 141, 168, 1);
    font-size: 18px;
    line-height: 27px;
    text-align: left;
}

.container_form_subscribe div {
    position: absolute;
    width: 1400px;
    height: 587px;
    left: 20px;
}

div.modal-window {
    width: 1300px;
    height: 387px;
    top: 100px;
    left: 50px;
    border-radius: 32px;
    background-color: #000000;
}

.modal-window img {
    position: absolute;
    width: 147px;
    height: 91px;
    top: 322px;
    left: -38px;
}

div.subscribe-frame-text {
    position: absolute;
    width: 642px;
    height: 330px;
    top: -0.13px;
}

.subscribe-frame-text h1 {
    position: absolute;
    font-size: 72px;
    line-height: 79.2px;
    letter-spacing: 2.880000114440918px;
    text-align: left;
    width: 431px;
    height: 159px;
    top: 85.13px;
    left: 60px;
}

.subscribe-frame-text p {
    position: absolute;
    font-size: 18px;
    line-height: 27px;
    text-align: left;
    width: 139px;
    height: 27px;
    top: 59.13px;
    left: 60px;
    color: #118da8;
}

form.input-frame {
    width: 522px;
    height: 252px;
    top: 59.88px;
    left: 718px;
    position: absolute;
}

.input-frame input {
    position: absolute;
    width: 522px;
    height: 82px;
    border-radius: 6px;
    border: 1px;
    background-color: #191919;
    border: 1px solid #191919;
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    font-weight: 400;
    line-height: 28.8px;
    padding: 19px;
}

.input-email {
    top: 102.13px;
}

.input-name {
    top: 0.13px;
}

.input-frame button {
    position: absolute;
    width: 87px;
    height: 48px;
    top: 204.13px;
    border-radius: 6px;
    background-color: rgba(17, 141, 168, 1);
    color: rgba(255, 255, 255, 0.7);
    size: 15px;
    line-height: 28.8px;
    font-weight: 700;
    border: none;
}

section.section-comments {
    position: absolute;
    width: 1440px;
    height: 901px;
    top: 4651px;
}

div.container-comments {
    position: absolute;
    width: 1400px;
    height: 901px;
    left: 20px;
}

.all-user-comments {
    position: absolute;
    width: 1300px;
    height: 701px;
    top: 99.88px;
    left: 50px;
}
