.header {
    width: 1440px;
    height: 119px;
}

p,
a {
    font-family: "DM Sans", sans-serif;
    color: white;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 400;
}

nav {
    display: flex;
    position: relative;
    width: 1440px;
    height: 67px;
    top: 26px;
}

img {
    position: relative;
    width: 160px;
    height: 33px;
    top: 17px;
    left: 50px;
    padding: 0.08px 0.27px 0.3px 0.57px;
}

.navigation-panel {
    display: flex;
    position: absolute;
    width: 403px;
    height: 67px;
    left: 987px;
    padding: 20px 0px 0px 0px;
}

a {
    text-decoration: none;
    font-size: 17px;
    line-height: 27px;
    text-align: left;
}

a:hover {
    color: #118da8;
}

.home {
    position: static;
    width: 49px;
    height: 27px;
    top: 20px;
    left: 20px;
}

.episode {
    position: absolute;
    width: 75px;
    height: 27px;
    top: 20px;
    left: 109px;
}

.about {
    position: absolute;
    width: 51px;
    height: 27px;
    top: 20px;
    left: 224px;
}

.contact {
    position: absolute;
    width: 68px;
    height: 27px;
    top: 20px;
    left: 315px;
}

.home-page {
    width: 1440px;
    height: 913px;
    top: 119px;
}

.section-one {
    position: relative;
    width: 1400px;
    height: 913px;
    left: 20px;
}

.img-1 {
    position: static;
    width: 650px;
    height: 873px;
}

.content-one {
    display: inline-block;
    position: relative;
    width: 1300px;
    height: 873.44px;
    top: 40px;
    left: 50px;
    padding: 0px 60px 0px 0px;
}

.img-2 {
    position: absolute;
    width: 68px;
    height: 74px;
    top: -26px;
    left: -26px;
}

.next-level-text {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 530px;
    height: 610.58px;
    top: 131.42px;
    left: 710px;
}

.next-level-text > p {
}

.next {
    top: 338.58px;
    position: relative;
    width: 160px;
    height: 88px;
    font-size: 75px;
    line-height: 88px;
    letter-spacing: 3.200000047683716px;
    text-align: left;
}

.take-your-podcast {
    position: absolute;
    width: 526px;
    height: 176px;
    top: 162.58px;
    font-size: 70px;
    line-height: 88px;
    letter-spacing: 3.200000047683716px;
    text-align: left;
}

.level {
    position: absolute;
    width: 191px;
    height: 88px;
    top: 338.58px;
    left: 185px;
    font-size: 80px;
    font-weight: 700;
    line-height: 88px;
    letter-spacing: 3.200000047683716px;
    text-align: left;
}

.next img {
    width: 163px;
    height: 11px;
    top: -60px;
    left: -5px;
}

.conteiner-for-social-networking {
    display: flex;
    position: absolute;
    width: 289px;
    height: 72px;
    top: 516.58px;
}

.conteiner-for-social-networking p {
    position: absolute;
    font-size: 15px;
    left: 22px;
    line-height: 24px;
    text-align: left;
}

.conteiner-for-social-networking div {
    width: 32px;
    height: 32px;
    padding: 0.05px;
}

.conteiner-social-logo {
    width: 245px;
    height: 32px;
    top: 40px;
    left: 22px;
    padding: 0px 17px 0px 0px;
}
/* :not(:first-child) */
.conteiner-social-logo div:not(:first-child) {
    margin-left: 17px;
}

.conteiner-social-logo div img {
    width: 31.9px;
    height: 31.9px;
    top: 0.05px;
    left: 0.05px;
}
