* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    position: relative;
    width: 1440px;
    height: 5990px;
    gap: 0px;
    opacity: 0px;
    background: #191919;
    margin: auto;
}
